[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/barbasa
[access "refs/for/refs/*"]
	read = group user/barbasa
	push = group user/barbasa
	label-Code-Review = -2..+2 group user/barbasa
	label-Verified = -1..+1 group user/barbasa
	rebase = group user/barbasa
	removeReviewer = group user/barbasa
	submit = group user/barbasa
[access "refs/heads/*"]
	read = group user/barbasa
	create = group user/barbasa
	push = +force group user/barbasa
	pushMerge = group user/barbasa
[access "refs/tags/*"]
	push = group user/barbasa
	push = +force group user/barbasa
